<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Добавляем разрешения здесь -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- Для Android 10+ нужно добавить это вместо WRITE_EXTERNAL_STORAGE -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" /> <!-- Указываем, что приложение использует камеру -->
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logoff"
        android:label="Fitness Family"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FF"
        tools:targetApi="31">
        <activity
            android:name=".FAQ"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ScheduleActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".SubscriptionsActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".TrenerProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity_treners"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".AboutClub"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".AboutApplication"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".VideoActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".Exercises"
            android:exported="false"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".Profile"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Main"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity3"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity2"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


    </application>

</manifest>