canvas {
    display: block; /* Центрирование графика */
    max-height: 400px; /* Максимальная высота графика */
    width: 100%; /* Адаптивная ширина */
    height: auto; /* Адаптивная высота */
    margin-bottom: 100px; /* Отступ снизу */ 
}