canvas {
    display: block; /* Центрирование графика */
    max-height: 400px; /* Максимальная высота графика */
    width: 100%; /* Адаптивная ширина */
    height: auto; /* Адаптивная высота */
    margin-bottom: 100px; /* Отступ снизу */ 
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4; /* Светлый фон для контраста */
    color: #333;
    padding: 20px;
}